# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual environments =====
venv/
.env/

# ===== Pygame =====
*.log

# ===== macOS =====
.DS_Store

# ===== VS Code =====
.vscode/

# ===== Temporary files =====
# ===== Temporary files =====
*.tmp
*.swp
build/
build/web-cache/
station_fall_venv/
.venv/
.tutorial_shown
